html, body {
    margin: 0;
}
.canvas_container {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    background: lightsteelblue;
}
.canvas {
    height: 500px;
    width: 500px;
    background: lightskyblue;
}